@import 'vars';
@import 'templates';

@import '../style/vars.scss';
@font-face {
    font-family: 'Gilroy';
    src: url('/assets/fonts/Gilroy-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Kosans';
    src: url('/assets/fonts/KosansDemoRegular-z8G8G.ttf') format('truetype');
}

@font-face {
    font-family: 'KosansRegular';
    src: url('/assets/fonts/Kosans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: $colorlight;
    max-width: 100%;
}
h2 {
    color: $colordark;
    font-family: $font-gilroy;
    font-size: 2vw;
}
h3 {
    color: $colordark;
    font-family: $font-gilroy;
    font-style: italic;
    font-size: 1.2vw;
    font-weight: lighter;
}
button {
    width: 10vw;
    height: 5vh;
    background-color: $colordark;
    border: none;
    border-radius: 5cap;
    font-size: 1.2em;
    color: $colorlight;
}
.topline {
    display: flex;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
    .logopic {
        width: 20vw;
        margin-top: 1rem;
        padding-left: 0;
        margin-left: 0;
    }
    .nav a {
        padding-right: 2rem;
        text-decoration: none;
        font-family: $font-gilroy;
        color: $colordark;
        font-size: 18px;
        font-weight: bolder;
    }
    .phone {
        font-size: 20px;
        font-weight: bolder;
        color: $colordark;
    }
  }
  .bannerpic {
    width: 100vw;
    max-height: 50vh;
    margin-top: 1rem;
}

.about {
    display: flex;
    margin: 3rem;
    h2 {
        margin-bottom: 2rem;
    }
    .picabout {
        border-radius: 2cap;
        flex-basis: 40%;
        max-height: 60vh;
        max-width: 40vw;
        flex-basis: 35%;
    
    }
    .clinicscript {
        font-size: 20px;
        font-weight: lighter;
        text-align: center;
        padding-left: 4rem;
    }
}
.submit {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 80vw;
    min-height: 20vh;
    border-radius: 4cap;
    background-image: url(/assets/images/iStock-1200557416.jpg);
    background-repeat: no-repeat;
    background-size: 100vw;
    color: $colordark;
    font-family: $font-gilroy;
    margin-left: 8rem;
}

    .input-box {
        display: flex;
        gap: 3rem;
    .inputname {
        border: none;
        border-radius: 2cap;
        width: 15vw;
        height: 6vh;
        text-align: center;
        font-style: italic;
    }
  }

/* Header */
.header {
	background-color: #FBEEDE;
	.header-block {
		display: grid;
		grid-template-columns: 25% 50% 25%;
		width: 90%;
		height: 90%;
		margin: 0 auto;
		padding: 1%;
		.header-block__menu {
			padding-top: 3%;
			.nav-link {
				font-family: Gilroy SemiBold;
				color: #551F25;
				font-size: 1.6rem;
			}
		}
		.header-block_logo {
			width: 100%;
		}
		.header-block__contacts {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			.header-block__contacts_telephone {
				font-family: Gilroy Bold;
				color: #551F25;
				font-size: 1.6rem;
			}
			.header-block__apps {
				display: flex;
				justify-content: end;
				gap: 1em;
				.header-block_icon {
					width: 2.7rem;
				}
			}
			
		}
	}
	/* Burger-list */
	.dropdown {
		.button {
			border: none;
			outline: none;
			background-color: #FBEEDE;
		}
		.dropdown_list {
			width: 2rem;
			color: #551F25;
		}
		.dropdown_item {
			font-family: Gilroy SemiBold;
			color: #551F25;
			font-size: 1.6rem;
		}
	}
	
}

// Footer styles //

.footer {
    font-family: 'KosansRegular', sans-serif;
    margin-top: 50px;
    background-color: bisque;
    &__sections-list,
    &__services-list{
        list-style: none;
        padding-left: 0;
    }
    &__contact-title,
    &__sections-title,
    &__services-title {
        margin-bottom: 2.5rem;
        padding-right: 2rem;
        text-decoration: none;
        font-family: "Gilroy", sans-serif;
        color: #400e19;
        font-size: 18px;
        font-weight: bolder;
        
    }
    &__disclaimer-text{
        text-align: center;
        margin-top: 100px;
        font-size: large;
        font-family: "Gilroy", sans-serif;
        color: #400e19;
        font-weight: bolder;
    }

    &__contact-info,
    &__sections,
    &__services {
        margin-top: 30px;
    }

    &__footer-social img {
        max-width: 40px;
    }
    &__link{
        color: gray; 
        text-decoration: none; 
    .link:hover {
        text-decoration: underline;
    }
    .link:visited {
        color: black;
    }
}
}


.btn-custom {
    background-color:  #400e19; 
    color: #ffffff; 
    border: 3px solid #400e19;
    height: 3vw;
    font-size: 1em;
}

.btn-custom:hover {
    background-color:  #750921;
    border-color:  #750921;
    color: #ffffff;
}