// Footer styles //

.footer {
    font-family: 'KosansRegular', sans-serif;

    &__logo-image{
        width: 300px;
        height: 100px;
    }
    &__sections-list,
    &__services-list{
        list-style: none;
    }
    &__contact-title,
    &__sections-title,
    &__services-title {
        margin-bottom: 2.5rem;
    }
    &__disclaimer-text{
        text-align: center;
        margin-top: 100px;
        font-size: large;
    }

}